node_modules
api/config.yml
src/services/config.json
api/app/__pycache__/__init__.cpython-38.pyc
api/app/__pycache__/email.cpython-38.pyc
api/app/__pycache__/forms.cpython-38.pyc
api/app/__pycache__/models.cpython-38.pyc
api/app/__pycache__/routes.cpython-38.pyc
api/app/__pycache__/social_login.cpython-38.pyc
api/app/__pycache__/socket.cpython-38.pyc
api/.idea/.gitignore
api/.idea/api.iml
api/.idea/misc.xml
api/.idea/modules.xml
api/.idea/vcs.xml
api/.idea/inspectionProfiles/profiles_settings.xml
api/.idea/inspectionProfiles/Project_Default.xml
api/__pycache__/config.cpython-38.pyc
api/migrations/__pycache__/env.cpython-38.pyc
api/migrations/alembic.ini
api/migrations/env.py
api/migrations/README
api/migrations/script.py.mako
api/migrations/versions/c46d9f62fb33_.py
api/migrations/versions/__pycache__/c46d9f62fb33_.cpython-38.pyc
api/resources/__pycache__/game.cpython-38.pyc
api/resources/__pycache__/general.cpython-38.pyc
api/resources/__pycache__/hand.cpython-38.pyc
api/resources/__pycache__/room.cpython-38.pyc
api/resources/__pycache__/turn.cpython-38.pyc
api/resources/__pycache__/user.cpython-38.pyc
api/app.db
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/nigels-app.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
api/migrations/versions/082064787bd6_.py
api/migrations/versions/__pycache__/082064787bd6_.cpython-38.pyc
src/config.json
