.player-info-container{
    position: absolute;
    width: 175px;
    height: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0%;
    background-color: hsl(0, 0%, 0%, 0.85);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.player-info-container[active=true]{
    outline: 2px solid #58f958;
    color: #58f958;
}

.player-info-container:hover{
    outline: darkviolet 2px solid;
    color: darkviolet;
}

.player-info-container.mobile{
    width: 124px;
    height: 75px;
}

.player-info-avatar-container{
    position: absolute;
    width: 61px;
    height: 61px;
    margin: 7px;
    left: 0;
    top: 0;
}

.player-info-avatar-container.mobile{
    width: 38px;
    height: 38px;
    margin: 6px;
    top: 0;
}

.player-data-container{
    position: absolute;
    top: 0;
    right: 0;
    height: 75px;
    width: 100px;
    line-height: 25px;
    text-align: center;
}

.player-data-container.mobile{
    height: 50px;
    width: 74px;
    top: 0;
}

.player-username-container{
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 100px;
    font-size: 20px;
    overflow: hidden;
}

.player-username-container.mobile{
    position: absolute;
    height: 25px;
    width: 124px;
    top: 50px;
    left: -50px;
    font-size: 16px;
    overflow: hidden
}

.player-bets-container{
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 50px;
    width: 50px;
}

.player-bets-container.mobile{
    right: 37px;
    width: 37px;
}

.player-bets-label{
    position: absolute;
    top: 0;
    height: 25px;
    width: 50px;
    font-size: 12px;
}

.player-bets-label.mobile{
    width: 37px;
    font-size: 10px;
}

.player-bets-value{
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 50px;
}

.player-bets-value.mobile{
    width: 37px;
    font-size: 14px;
}

.player-took-container{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
}

.player-took-container.mobile{
    width: 37px;
}

.player-took-label{
    position: absolute;
    top: 0;
    height: 25px;
    width: 50px;
    font-size: 12px;
}

.player-took-label.mobile{
    width: 37px;
    font-size: 10px;
}

.player-took-value{
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 50px;
}

.player-took-value.mobile{
    width: 37px;
    font-size: 14px;
}