.active-container{
    position: absolute;
    background: white;
    text-align: center;
    background-color: var(--formsBckgr);
}

.active-container.mobile.portrait{
    width: 100%;
    height: 92vh;
}

.active-container.mobile.landscape{
    height: 100%;
    width: 92vw;
}

.active-container.tablet.portrait{
    width: 100%;
    height: 92vh;
}

.active-container.desktop{
    width: 80vw;
    left: 14vw;
    height: 80vh;
    top: 10vh;
    border-radius: 30px;
}