.modal-container{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 10px;
}

.modal-container.mobile.landscape{
    top:25%;
}

.modal-content-container{
    padding: 30px 2vw 10px 2vw;
    min-height: 40px;
}

.modal-header{
    font-size: 24px;
    font-weight:bold;
    text-align: center;
    line-height: 20px;
}

.modal-text-container{
    text-align: center;
}

.modal-controls-container{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    min-height: 100px;
}

.modal-control-container{
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 5px;
    font-size: 14px;
}

.modal-control-container.error{
    color: red
}

.modal-close-icon-container{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 6px;
    top: 6px;
}