.MuiModal-root{
    max-height: 100vh;
}

.MuiBackdrop-root{
    max-height: 100vh;
}

iframe{
    max-height: 100vh;
}

div[data-testid=sentinelStart]{
    max-height: 100vh;
}

.modal-container{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--formsBckgr);
    border-radius: 10px;
    color: var(--regularText);
}

.modal-content-container{
    padding: 5px 2vw 5px 2vw;
    min-height: 40px;
}

.modal-header{
    text-align: center;
}

.modal-text-container{
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    line-height: 30px;
}

.modal-controls-container{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    min-height: 100px;
}

.modal-control-container{
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 5px;
    font-size: 14px;
}

.modal-control-container-checkbox{
    margin-left: 50px;
    display: inline-block;
    width: 200px;
    font-size: 14px;
    text-align: left;
}

.modal-control-container.error{
    color: var(--error)
}

.modal-close-icon-container{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 6px;
    top: 6px;
}

.modal-player-bet-header{
    display: inline-block;
    text-align: center;
    width: 260px;
    font-size: 14px;
    font-weight: 600;
}

.modal-player-bet-info{
    display: inline-block;
    text-align: center;
    width: 260px;
    font-size: 14px;
    height: 20px;
}

.modal-player-avatar-container{
    display: inline-block;
    overflow: hidden;
}

.modal-player-username{
    display: inline-block;
    width: 110px;
    overflow-x: hidden;
    line-height: 20px;
    cursor: pointer;
}

.modal-player-username:hover{
    color: var(--secondary);
}

.modal-player-betsize{
    display: inline-block;
    width: 20px;
    overflow-x: hidden;
    line-height: 20px;
    font-weight: 600;
}


.modal-cards-container{
    display: inline-block;
    height: 50px;
    padding: 5px;
    font-size: 14px;
}

.wrap{
    max-width: 250px; 
    word-wrap: break-word
}