.last-turn-header{
    color: white;
    background-color: var(--transparentElementBckgr);
    border: 1px solid var(--borderLight);
    border-radius: 5px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.table-put-cards-container{
    left: 50%;
    top: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 165px;
}

.table-put-cards-container.mobile.landscape{
    top: 46%
}

.table-put-cards-container.mobile{
    width: 98px;
    height: 105px;
}

.table-put-card{
    position: absolute;
}

.table-put-card.player0{
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.table-put-card.player0.mobile.landscape{
    bottom: 0%;
}

.table-put-card.player0.mobile.portrait{
    bottom: -40%;
}





.table-put-card.player1.outof2{
    left: 70%;
    top: 0%;
    transform: translate(-50%, 30%);
    top: 0%;
}

.table-put-card.player2.outof2{
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
}





.table-put-card.player1.outof3{
    right: 10%;
    top: 0%;
}

.table-put-card.player2.outof3{
    left: 10%;
    top: 20%;
}

.table-put-card.player3.outof3{
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
}




.table-put-card.player1.outof4{
    right: 0%;
    top: 20%;
}

.table-put-card.player2.outof4{
    left: 50%;
    transform: translate(-50%, 0);
    top: 0%;
}

.table-put-card.player3.outof4{
    left: 0%;
    top: 20%;
}

.table-put-card.player4.outof4{
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, 0);
}





.table-put-card.player1.outof5{
    right: 5%;
    top: 35%;
}

.table-put-card.player2.outof5{
    left: 60%;
    transform: translate(-50%, 0);
    top: 0%;
}

.table-put-card.player3.outof5{
    left: 10%;
    top: 15%;
}

.table-put-card.player4.outof5{
    bottom: -5%;
    left: 25%;
    transform: translate(-50%, 0);
}




.table-put-card.player1.outof6{
    right: -5%;
    top: 45%;
}

.table-put-card.player2.outof6{
    right: 5%;
    top: 20%;
}

.table-put-card.player3.outof6{
    left: 50%;
    transform: translate(-50%, 0);
    top: 5%;
}

.table-put-card.player4.outof6{
    left: 5%;
    top: 20%;
}

.table-put-card.player5.outof6{
    left: -5%;
    top: 45%;
}

.put-card-avatar{   
    position: absolute;
    opacity: 50%;
    border: 0.5px solid var(--primary);
    border-radius: 50%;
}

.put-card-avatar:hover{
    opacity: unset
}






.put-card-avatar.player0{
    left: 2px;
    bottom: 2px;
}





.put-card-avatar.player1.outof2{
    right: 2px;
    top: 2px
}





.put-card-avatar.player1.outof3{
    right: 2px;
    top: 2px
}

.put-card-avatar.player2.outof3{
    left: 2px;
    bottom: 2px
}





.put-card-avatar.player1.outof4{
    right: 2px;
    top: 2px
}

.put-card-avatar.player2.outof4{
    right: 2px;
    top: 2px
}

.put-card-avatar.player3.outof4{
    left: 2px;
    bottom: 2px
}



.put-card-avatar.player1.outof5{
    right: -10px;
    top: 50%;
    transform: translate(0%, -50%);
}

.put-card-avatar.player2.outof5{
    top: -10px;
    right: -10px;
}

.put-card-avatar.player3.outof5{
    left: -10px;
    top: -10px;
}

.put-card-avatar.player4.outof5{
    left: -10px;
    bottom: -10px;
}




.put-card-avatar.player1.outof6{
    right: -10px;
    top: 40%;
    transform: translate(0%, -50%);
}

.put-card-avatar.player2.outof6{
    right: 2px;
    top: 2px;
}

.put-card-avatar.player3.outof6{
    right: 2px;
    top: 2px;
}

.put-card-avatar.player4.outof6{
    right: 2px;
    top: 2px
}

.put-card-avatar.player5.outof6{
    left: 2px;
    bottom: 2px
}