.MuiPaper-root{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    margin: 0;
}

.Mui-selected{
    background-color: green;
}

.player-table-data-container{
    position: relative;
    height: 38px;
    min-width: 100px;
}

.avatar-small{
    position: absolute;
    height: 38px;
}

.username-container{
    position: absolute;
    left: 38px;
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
}

.username-container:hover{
    color: darkviolet;
}

.admin-icon-container{
    position: absolute;
    right: -12px;
    height: 38px;
    width: 24px;
    top: 7px;
}

.suit-container{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.suit-container:before{
    font-size: 18px;
    padding-right: 5px;
}

.d.suit-container:before{
    content: "\2666";
    color: red;
}

.h.suit-container:before{
    content: "\2665";
    color: red;
}

.c.suit-container:before{
    content: "\2663";
    color: black;
}

.s.suit-container:before{
    content: "\2660";
    color: black;
}

.x.suit-container:before{
    content: "\2298";
    color: black;
}