.main-logo-container{
    position: relative;
}

.main-logo-container.desktop{
    top: -10vh;
    min-width: 270px;
    min-height: 10vh;
    right: 0;
}

.main-logo-container.tablet.portrait{
    top: 0;
    min-height: 8vh;
    width: 100vw;
    background-color: var(--mainBckgr);
}

.main-logo-container.mobile.portrait{
    top: 0;
    min-height: 10vh;
    min-width: 200px;
    background-color: var(--mainBckgr);
}


.main-logo-container.mobile.landscape{
    top: 10px;
    right: 10px;
    min-height: 10vh;
    min-width: 200px;
}

.main-logo{
    position: absolute;
    top: 50%;
    margin: 0;
    color: var(--headers);
    background-image: url(main-logo-akula.png);
    background-size: contain;
}

.main-logo.desktop{
    right: 25px;
    width: 250px;
    height: 140px;
    transform: translate(0, -50%);
}

.main-logo.tablet.portrait{
    left: 50%;
    width: 40vw;
    height: 22.5vw;
    transform: translate(-50%, -50%);
}

.main-logo.mobile{
    right: 0;
}

.main-logo.mobile.portrait{
    left: 50%;
    width: 70vw;
    height: 39vw;
    transform: translate(-50%, -50%);
}

.main-logo.mobile.landscape{
    width: 36vh;
    height: 20vh;
    transform: translate(0, -50%);
}