.main-logo-container{
    position: relative;
}

.main-logo-container.desktop{
    top: -10vh;
    min-width: 270px;
    min-height: 10vh;
    right: 0;
}

.main-logo-container.tablet.portrait{
    top: 0;
    min-height: 8vh;
    width: 100vw;
    background-color: lightgray;
}

.main-logo-container.mobile.portrait{
    top: 0;
    min-height: 10vh;
    min-width: 200px;
    background-color: lightgray;
}


.main-logo-container.mobile.landscape{
    top: 10px;
    right: 10px;
    min-height: 10vh;
    min-width: 200px;
}

.main-logo-text{
    position: absolute;
    top: 50%;
    margin: 0;
    color: black;
    font-weight: bold;
}

.main-logo-text.desktop{
    font-size: 32px;
    right: 25px;
    transform: translate(0, -50%);
}

.main-logo-text.tablet.portrait{
    font-size: 44px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-logo-text.mobile{
    font-size: 30px;
    right: 0;
}

.main-logo-text.mobile.portrait{
    transform: translate(0%, -50%);
    width: 100vw;
    text-align: center;
}

.main-logo-text.mobile.landscape{
    transform: translate(0, -50%);
}