.recovery-sent-confirmation-message{
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 50px;
    color: green;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.recovery-sent-confirmation-message.mobile.portrait{
    top: 300px
}

.recovery-sent-confirmation-message.mobile.landscape{
    top: 260px
}